* {
    padding: 0;
    margin: 0;
}


body{
   height: 100;
}

header {
    background: url(./img/orange-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: auto;
}
nav {
    padding-top: 18px;
    display: flex;
    align-items: center;
    height: 60px;
}

header h4 {
    color: black;
    font-size: 48px;
    font-weight: 900;
    padding: 25px;
    display: none;
}

#hed{
    color: black;
    font-size: 48px;
    font-weight: 900;
    padding: 25px;
}

nav ul {
    margin:10px;
    display: flex;
    list-style: none;   
    gap: 25px;
    margin-left:auto;
    font-size: 25px;
    font-weight: 700;
    color: black;
    padding: 10px;
}

/* first div part (this website is awesome)*/

.head-sub-div h2 {
    font-size: 48px;
    font-weight: 800;
    color: #c7c7c7;
}

.head-div p {
    font-size: 18px;
    color: #E5E7EB;
}

.head-div{
    width: 100vw;
    height: 900px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 500px;
}

.sub {
    display: flex; 
    flex-direction: column;
    padding: 15px;
}

button {
    background: salmon;
    padding: 15px;
    border-radius: 5px;
    border: 3px;
    box-shadow: 5px 5px 4px 2px rgb(104, 35, 3);
    cursor: pointer; 
}

 a {
    text-decoration: none;
    color: black;
    
}

.head-sub-div{
    max-width:500px;
} 

.head-p {
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    flex-wrap: wrap;
    margin-bottom: 10px;
} 

.head-p p {
    font-family: monospace;
    font-weight: 600;
    color: black;
}

/*.head-img {
    width: 500px;
    height:600px;
}*/
#img-space  {
    width: 600px;
    height: 500px;
}

/*second div part*/

/*header*/

.snd-div {
    width:100%;
    text-align: center;
    background-color: #ffe5b4;
}

.snd-div h2{
    padding: 30px;
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}

/*flexed-images*/

.items-container {
gap:30px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
min-height: 100%;
padding: 30px;
} 

.container{
padding: 6px;
display: flex;
flex-basis: calc(50% - 40px);
justify-content: center;
align-items: center;
flex-direction: column;
}

.container p {
    font-weight: 900;
    font-size: 20px;
}


.items {
box-shadow: 2px 4px 16px rgba(209, 97, 22, 0.801);
border: 5px solid rgba(110, 96, 13, 0.445);
border-radius: 7px;
height:220px;
width: 300px;
margin-bottom: 17px;
display: flex;
justify-content: center;
flex-direction: row;
}

.grow { 
    transition: all .3s ease-in-out; 
    }.grow:hover { 
        transform: scale(1.3); 
        margin-bottom: 50px;
        }


.items img{
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}

.items img:hover{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blockquote{
    min-height: 600px;
    height: 1000px;
    width: 100%;
    background: #E5E7EB;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}

.blockquote_text {
    margin-top: 50px;
    padding:30px;
    font-weight: 700;
    font-size: 20px;
    font-family: monospace;
    font-style: italic;
    line-height: 1.8; 
}

.text_credit{
 margin: 11px;
}

.blue-box-container{
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blue-box{
    background-color: #3882f6;
    border-radius: 8.2px;
    height: 120px;
    width: 1000px;
    margin: 50px 50px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 20px;
}

footer {
    height: 80px;
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
}


@media only screen and (max-width: 800px) {
    nav ul {
        display: none;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav h4 {
        font-size: 40px;
        display: block;
    }

    .head-sub-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        padding: 15px;
        margin-top: 90px;
    }

    .head-p p {
        font-size: 23px;
    }

    #hed {
        display: none;
    }

    .head-img{
        display: none;
    }
}